* {
  margin:0;
  padding:0;
}

body{
  background-color: #f0d8d8;
}

.navbar{
  margin-top: 22px;
  /* display: inline-block; */
}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #191919;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: auto 120px;
  text-decoration: none;
}

.navitem:hover{
  color: #E54225;
  font-style: italic;
}

iframe{
  width:900px;
  height: 506px;
  display: block;
  margin: 130px auto 0 auto;
  /* margin-left: 200px;
  margin-top: 150px; */

}

p{
  /* text-align: right; */
  /* text-align: justify; */
  font-family: 'AvenirLTPro-Light', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.5em;
  font-size: 30pt;
  margin-left: 250px;
  margin-right: 250px;
  margin-top:40px;
  text-decoration: none;
  color: #e54225;
}

a{
  text-decoration: underline;
  color: #e54225;
}

a:hover{
  font-style: italic;
}

.onlytext{
  margin-top: 90px;
}
