* {
  margin:0;
  padding:0;
}

body{
  background-color: #efbf60;
}

.about{
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #f2f2f2;
  font-family: 'AvenirLTPro-Light', sans-serif;
  /* font-family: sofia-pro, sans-serif; */
  /* font-weight: normal;
  font-style: normal;
  font-style: normal; */
}

/* .topmargin{
  margin-top: 70px;
} */

/* p{
  padding-top: 40px;
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-style: normal;
  margin-left: 200px;
  margin-right:200px;
  margin-top: 200px;
  font-size: 70pt;
  color: #e54225;
  line-height: 0.2em;
  /* text-align: justify; */
} */

#circle{
  font-family: Open Sans, sans-serif;
  margin: 3rem;
}

#circle p{
  padding-top: 40px;
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-style: normal;
  margin-left: 200px;
  margin-right:200px;
  margin-top: 150px;
  font-size: 70pt;
  color: #e54225;
  line-height: 0.2em;
}
#circle .curve{
  width: 40%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:15rem;
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

img{
  float:left;
  width:30%;
  margin-left: 200px;
  padding-right: 40px;
}

.socialmedia{
  font-size: 40pt;
}

.navbar{
  margin-top: 22px;
  /* display: inline-block; */
}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #191919;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: auto 120px;
  text-decoration: none;
}

.navitem:hover{
  color: #E54225;
  font-style: italic;
}

@media screen and (max-width: 1500px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 90px;
    text-decoration: none;
  }
}

@media screen and (max-width: 1180px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 40px;
    text-decoration: none;
  }
}
