* {
  margin:0;
  padding:0;
}

body{
  background-color: #f2f2f2;
}

.navbar{
  margin-top: 22px;
  /* display: inline-block; */
}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #191919;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: auto 120px;
  text-decoration: none;
}

.navitem:hover{
  color: #E54225;
  font-style: italic;
}

.masonry { /* Masonry container */
  column-count: 3;
  column-gap: 5em;
  margin-left: 185px;
  margin-right: 185px;
  margin-top: 200px;
}

.item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 2em;
  width: 110%;
}


.container {
  position: relative;
  /* width: 50%; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110%;
  width: 110%;
  opacity: 0;
  transition: .1s ease;
  pointer-events: none;
  /* background-color: none; */
}

.container:hover .item{
  opacity: 0.5;
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: big-caslon-fb, serif;
  letter-spacing: 0.05em;
  font-size: 50pt;
  position: absolute;
  padding-top: 130px;
  text-align: center;


}

.purple{
  color: #78648e;
}

.yellow{
  color:#efbf60;
}

.red{
  color:#e54225;
}

@media screen and (max-width: 1500px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 90px;
    text-decoration: none;
  }
  .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 6em;
    margin-left: 185px;
    margin-right: 185px;
    margin-top: 200px;
  }

  .item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 3em;
    width: 110%;
  }
}

@media screen and (max-width: 1180px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 40px;
    text-decoration: none;
  }

}

@media screen and (max-width: 1080px) {
  .masonry { /* Masonry container */
    column-count: 1;
    column-gap: 6em;
    margin-left: 185px;
    margin-right: 185px;
    margin-top: 200px;
  }

  .item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 3em;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {

  h1{
    font-size:50pt;
  }
  .navitem{
    font-size: 9pt;
    margin: auto 0px;
  }
}
