* {
  margin:0;
  padding:0;
}

body{
  background-color: #a4c978;
}

.about{
  font-size: 40pt;
  color: #f2f2f2;
  font-family: AvenirLTPro-Light;
  font-weight: normal;
  font-style: normal;
  /* font-family: sofia-pro, sans-serif;
  font-weight: 200;
  font-style: normal; */
}

p{
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-style: normal;
  margin-left: 200px;
  margin-right:200px;
  margin-top: 200px;
  font-size: 100pt;
  color: #e54225;
  line-height: 0.5em;
  text-align: justify;
}

.navbar{
  margin-top: 22px;
  /* display: inline-block; */
}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #191919;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-size: 15pt;
  letter-spacing: 0.1em;
  list-style-type: none;
  margin: auto 120px;
  text-decoration: none;
}

.navitem:hover{
  color: #E54225;
  font-style: italic;
}
