* {
  margin:0;
  padding:0;
}

body{
  background-color: #f0d8d8;
}

.navbar{
  margin-top: 22px;
  /* display: inline-block; */
}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #191919;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: auto 120px;
  text-decoration: none;
}

.navitem:hover{
  color: #E54225;
  font-style: italic;
}

p{
  margin-top: 90px;
  font-family: big-caslon-fb, serif;
  font-size: 85pt;
  letter-spacing: 1px;
  margin-left: 200px;
  line-height: 180px;
}

a{
  color: #e54225;
  text-decoration: none;
}

a:hover{
  color:white;
}

.smallfont{
  font-size: 15px;
}

@media screen and (max-width: 1500px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 90px;
    text-decoration: none;
  }
}

@media screen and (max-width: 1300px) {
  p{
    font-size: 70pt;
    letter-spacing: 1px;
    line-height: 150px;
  }

}

@media screen and (max-width: 1180px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 40px;
    text-decoration: none;
  }

  p{
    font-size: 70pt;
    letter-spacing: 1px;
    line-height: 120px;
    text-align: center;
    margin-left: 0px;
  }

  .smallfont{
    display: none;
  }
}
