* {
  margin:0;
  padding:0;
}

body{
  background-color: #f2f2f2;
}

.navbar{
  margin-top: 22px;
  /* display: inline-block; */
}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #191919;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 0.2em;
  list-style-type: none;
  margin: auto 120px;
  text-decoration: none;
}

.navitem:hover{
  color: #E54225;
  font-style: italic;
}

img{
  margin-left: 200px;
  margin-top: 160px;
  padding-bottom: 30px;
  width:40%;
  float: left;
  image-orientation: from-image;
}

iframe{
  margin-left: 200px;
  margin-top: 160px;
  padding-bottom: 30px;
  width:40%;
  float: left;
}

h1{
  font-family: big-caslon-fb, serif;
  letter-spacing: 0.07em;
  margin-top: 90px;
  font-size: 40pt;
  position: fixed;
  margin-left: 1000px;
}

p{
  font-family: 'AvenirLTPro-Light', sans-serif;
  font-weight: 300;
  letter-spacing: 0.0.5em;
  margin-top: 90px;
  padding-top: 80px;
  padding-bottom: 150px;
  font-size: 20pt;
  position: fixed;
  margin-left: 1000px;
  margin-right: 200px;
  line-height: 1.5em;
}

@media screen and (max-width: 1500px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 90px;
    text-decoration: none;
  }
}

@media screen and (max-width: 1180px) {
  .nav{
    margin: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navitem{
    color: #191919;
    text-align: center;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    list-style-type: none;
    margin: auto 40px;
    text-decoration: none;
  }
  
}
